<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:action="@{/admin/edit}" th:method="POST"   th:object="${user}" >
    <input name="id" type="hidden" th:value="${user.getId()}">
    <label for="username">Username</label>
    <input type="text" id="username" th:field="*{username}" th:value="${user.username}" required>
    </br>
    <label for="password">Password</label>
    <input type="text" id="password" th:field="*{password}" th:value="${user.password}" required>
    </br>
    <label for="surname">Surname</label>
    <input type="text" id="surname" th:field="*{surname}" th:value="${user.surname}" required>
    </br>
    <label for="age">Age</label>
    <input type="text" id="age" th:field="*{age}" th:value="${user.age}" required>
    </br>
    <label class="col-form-label font-weight-bold" for="roles">Role</label>
    <input type="checkbox"  id="roles" name="roles"
           th:each="role : ${roles}"
           th:value="${role.id}"
           th:text="${role.name}"
           th:field="*{roles}"
    />
    </br>
    <button type="submit">update user</button>
</form>
</body>