<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr var="user" items="${users}">
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.rolesToString()}"></td>
        <td>
            <form th:action="@{/admin/edit}">
                <button type="submit" th:name="id" th:value="${user.id}">Edit</button>
            </form>
        </td>
        <td>
            <form method="post" th:action="@{/admin/delete}">
                <button type="submit" th:name="id" th:value="${user.id}">Delete</button>
            </form>
        </td>
    </tr>
    </tr>
    </tbody>
</table>
<a href="/admin/new">Create new user</a>
<td>
    <form th:action="@{/logout}">
        <button type="submit">Log out</button>
    </form>
</td>
</body>
</html>