<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:action="@{/admin/users}" th:object="${newUser}" method="POST">
    <label for="name">Username</label>
    <input type="text" id="name" th:field="*{username}" required>
    </br>
    <label for="password">Password</label>
    <input type="text" id="password" th:field="*{password}" required>
    </br>
    <label for="surname">Surname</label>
    <input type="text" id="surname" th:field="*{surname}" required>
    </br>
    <label for="age">Age</label>
    <input type="text" id="age" th:field="*{age}" required>
    </br>
    <label class="col-form-label font-weight-bold" for="roles">Role</label>
    <input type="checkbox" id="roles" name="roles"
           th:each="role : ${roles}"
           th:value="${role.id}"
           th:text="${role.name}"
           th:field="*{roles}"
    />
    </br>
    <button type="submit">Create user</button>
</form>
<td>
    <form th:action="@{/logout}">
        <button type="submit">Log out</button>
    </form>
</td>
</body>
</html>