<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1>My profile</h1>
<form th:action="@{/logout}">

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>

    </tr>
    </thead>
    <tbody>
    <tr var="user" items="${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.rolesToString()}"></td>
    </tr>

    </tbody>
</table>
</form>
<td>
    <form th:action="@{/logout}">
        <button type="submit">Log out</button>
    </form>
</td>
</body>
</html>
